/* =========================================
        Utility Styles
========================================= */
* {
  /* border: 1px solid red; */
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mob-none {
    display: none;
}

.section {
  background: url('img/pexels-henry-&-co-1939485.jpg');
  background-size: contain;
}

/* ===========================================
        Nav bar
=========================================== */

.header {
    width: 100%;
  }

  li a {
    color: white;
  }

  .nav-icon {
    padding: 16px 24px;
    width: 85%;
  }

  .nav-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #272A31;
  }

  .nav-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #272A31;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    width: 100%;
    transition: 0.3s;
    margin-left: 0;
    display: none;
    padding-top: 50px;
    margin-bottom: 30px;
  }

  .nav-link {
    color: #272A31;
    font-size: 2em;
    font-weight: 900;
  }

  .nav-item {
    padding-bottom: 15px;
    margin: 16px 0;
  }

  .nav-menu.active {
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #d3d3d3bb;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-top: 0;
    display: block;
  }
  
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #272A31;
  }
  
/* ===========================================
        Main body
=========================================== */

.section1 {
  padding: 48px 0;
  box-sizing: border-box;
}

.section1 > * {
  box-sizing: border-box;
}

.greeting {
  color: #EC5242;
  padding: 0 10px;
  margin: 0;
}

.main-head {
  color: #EC5242;
  padding: 0 10px;
  width: 100%;
  font-size: 2em;
  font-weight: 900;
  margin: 0;
}

.info-div {
  background-color: #D3D3D3;
  width: 93%;
  margin: 10px 10px;
  border: 1px solid white;
}

.info {
  padding: 0 10px;
  font-size: 0.7em;
  line-height: 2em;
  color: #272A31;
}

.date {
  padding: 10px;
  width: 100%;
  font-size: 1.5em;
  margin: 0;
  font-weight: 900;
  color: #272A31;
}

.venue {
  padding: 0 10px;
  width: 100%;
  font-size: 0.8em;
  margin: 0;
  color: #272A31;
}

.section2 {
  padding: 12px;
  box-sizing: border-box;
  background-color: #272A31;
}

.section2 > * {
  box-sizing: border-box;
}

.sub-head {
  color: #D3D3D3;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 10px;
  font-weight: 900;
}

.rule1 {
  background-color: #EC5242;
  border: none;
  height: 1px;
  width: 8%;
}

.main-prog {
  display: flex;
  background-color: #3d4046;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
  padding-left: 10px;
}

.icon {
  flex-basis: 20%;
}

.ash {
  color: #D3D3D3;
}

.title {
  flex-basis: 25%;
  color: #EC5242;
}

.desc {
  flex-basis: 55%;
  color: #D3D3D3;
  font-size: 0.7em;
  line-height: 1.5em;
}

.sec2-link {
  width:60%;
  margin: 32px;
  padding: 24px 32px;
  color: white;
  background-color: #EC5242;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.section3 {
  padding: 10px;
  padding-bottom: 32px;
}

.section3 .sub-head {
  color:#272A31;
  font-weight: 900;
}

.speakers {
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.speaker-img {
  flex-basis: 34%;
}

.dp {
  max-width: 100%;
  max-height: 100%;
}
.speaker-info {
  flex-basis: 65%;
}

.speaker-name {
  margin: 5px 0;
  font-weight: 900;
}

.speaker-desc {
  margin: 0;
  color: #EC5242;
  font-size: 0.6em;
  font-style: italic;
}

.rule2 {
  background-color: #D3D3D3;
  border: none;
  height: 1px;
  width: 6%;
  float: left;;
}

.speaker-msg {
  margin: 24px 0;
  font-size: 0.6em;
}

.sec3-link {
  width: 75%;
  margin: 10px;
  padding: 12px 32px;
  color: #272A31;
  font-size: 0.8em;
  border: 1px solid #D3D3D3;
  font-size: 0.9em;
  text-align: center;
}

.fa-angle-down {
  color:#EC5242
}

/* ===========================================
        Main body - about page
=========================================== */
.greeting-a {
  text-align: center;
}

.main-head-a {
  text-align: center;
  font-size: 1.9em;
  margin: 16px auto 32px;
}

.info-div-a {
  background-color: #fdfdfd;
}

.info-a {
  color:#272A31;
  text-align: center;
}

.contact {
  font-size: 0.7em;
  text-align: center;
  width: 80%;
  margin: 16px auto 0;
  line-height: 1.8em;
  color:#272A31;
}

.email {
  text-align: center;
  font-size: 0.7em;
  font-weight: 900;
  text-decoration: underline;
  margin: 0 auto;
}

.sub-head-a {
  color: #272A31;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 900;
}

.rule1-a {
  background-color: #EC5242;
  border: none;
  height: 1px;
  width: 5%;
}

.logo-a {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #D3D3D3;
  background-color: #fdfdfd;
  width: 80%;
  margin: 32px auto;
  height: 12vh;
}

.logo-pic {
  max-width: 100%;
  max-height: 100%;
  background-color: #fdfdfd
}

.sec-rule {
  border: none;
  height: 1px;
  background-color: #D3D3D3;
}
.past {
  background: url('img/Snapshoot\ Portfolio.png;');
  background-color: #a71606a4;
  color: white;
  text-align: center;
  padding: auto;
  margin: 12px auto;
  width: 80%;
  height: 20vh;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.year {
  text-align: center;
  font-size: 2.5em;
}

/* ===========================================
        Footer - about page
=========================================== */
.footer-sec1 {
  background-color: #272A31;
}

.footer-item {
  color: #D3D3D3;
}

.tech {
  display: flex;
  margin: auto 16px;
  justify-content: space-around;
}

.partners {
  display: flex;
  justify-content: space-around;
  margin: 16px 24px;
  padding-bottom: 40px;
}

.footer-sec2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  flex-basis: 50%;
  font-size: 0.6em;
}

@media only screen and (min-device-width: 768px) {
/* ===========================================
        Navbar - desktop
=========================================== */
.desk-none {
  display: none;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  background-color: #272A31;
  padding: 10px; 
}

.socials-items {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-left: 60%;
}

.logo {
  display: block;
}

header {
  background-color: transparent;
  width: 350px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40%;
  background-color: white;
}

.nav-menu {
  /* background-color: white; */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-left: 170%;
  margin: 0;
  flex-basis: 40%;

}

.nav-link {
  transition: 0.7s ease;
  color: #272A31;
  font-size: 0.9em;
  font-weight: 700;
}

.nav-link:hover {
  color: #EC5242;
}

.nav-item {
  padding: 0;
  margin: 0;
}

/* ===========================================
        Main body - desktop
=========================================== */
.section1 {
  padding-left: 12%;
  padding-right: 30%;
  height: 100vh;
}

.greeting {
  font-size: 2.5em;
  font-weight: 700;
}

.main-head {
  margin: 1% auto;
  font-size: 4.2em;
}

.info {
  font-size: 1em;
}

.info-div {
  width: 80%;
  padding: 10px;
}

.date {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 0;
}

.venue {
  font-size: 1.2em;
}

.rule1 {
  width: 4%;
}

.sub-head {
  font-size: 1.5em;
  font-weight: 700;
}
.main-prog {
  flex-direction: column;
  padding: 10px;
  text-align: center;
  width: 20%;
  margin-top: 32px;
}

.main-prog:hover {
  border: 2px solid #f7f7f7;
}
.progs {
  display: flex;
  padding-left: 12%;
  padding-right: 12%;
  justify-content: space-around;
  gap: 3px;
}

.title-item {
  margin: 0;
  padding: 0;
}
.desc-item {
  margin: 0;
  padding: 0;
}

.sec2-link-d {
  display: block;
  text-decoration: underline;
  color: #D3D3D3;
  text-align: center;
  margin: 50px;
  font-size: 0.9em;
}

.sec2-link-d:hover {
  transform: scale(1.05);
}
.speaker-sec {
  display: flex;
  padding-left: 12%;
  padding-right: 12%;
}

.speakers {
  flex-basis: 50%;
  font-size: 1.3em;
}

/* ===========================================
        Footer - desktop
=========================================== */
.foot {
  display: block;
}

.footer-sec1 .sub-head {
  padding-bottom: 8px;
}
.partners {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

.footer-sec2 {
  padding-left: 10%;
  padding-right: 15%;
}

.item1 {
  flex-basis: 15%;
}
.item2 {
  flex-basis: 100%;
  font-size: 0.7em;
}

.item .logo-pic {
  max-width: 25%;
  max-height: 50%;
}

/* ===========================================
        Main body - about - desktop
=========================================== */
.section1-a {
 padding-left: 15%;
 padding-right: 15%;
}

.greeting-a {
  display: none;
}

.main-head-a {
  font-size: 3em;
  padding-left: 8%;
  padding-right: 8%;
}

.rule1-a {
  display: block;
  width: 4%;
}

.section1-a .rule1-a {
  margin: 30px auto;
}

.info-div-a {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.contact {
  margin-top: 50px;
  font-size: 1em;
}

.email {
  font-size: 1em;
}

.section2-a .contact {
  width: 40%;
  margin-top: 0;
  text-align: center;
}

.logo-a {
  width: 30%;
}

.section3-a .contact {
  margin-top: 0;
  margin-bottom: 50px;
}

.past-wrap {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: space-between;
  gap: 20px;
}
}